<div class="container max-w-5xl	mt-5 m-auto">
    <div class="py-4 flex">
        <table class="w-full text-md bg-white mb-4" cellspacing="0" cellpadding="0">
            <thead>
                <tr class="table-bg-color shadow-none">
                    <th class="text-left p-3 px-5"><%= sortable "Team", 1 %></th>
                    <th class="p-3 px-5"><%= sortable "GP", 3 %></th>
                    <th class="p-3 px-5"><%= sortable "W", 4 %></th>
                    <th class="p-3 px-5"><%= sortable "L", 10 %></th>
                    <th class="p-3 px-5"><%= sortable "OTL", 11 %></th>
                    <th class="p-3 px-5"><%= sortable "P", 13 %></th>
                    <th class="p-3 px-5"><%= sortable "RW", 6 %></th>
                    <th class="p-3 px-5"><%= sortable "ROW", 7 %></th>
                    <th class="p-3 px-5"><%= sortable "HOME", 15 %></th>
                    <th class="p-3 px-5"><%= sortable "VISITOR", 17 %></th>
                </tr>
            </thead>
            <tbody>
                <% @standings.each do |standing| %>
                    <tr class="border-b-4 border-bg-dodge-grey">
                        <td class="p-3 px-5 font-semibold border-r-4 border-bg-dodge-grey"><%= standing["team_name"] %></td>
                        <td class="p-3 px-5 text-center"><%= standing["games_played"] %></td>
                        <td class="p-3 px-5 text-center"><%= standing["total_wins"] %></td>
                        <td class="p-3 px-5 text-center"><%= standing["regulation_losses"] %></td>
                        <td class="p-3 px-5 text-center"><%= standing["overtime_losses"] %></td>
                        <td class="p-3 px-5 text-center"><%= standing["points"] %></td>
                        <td class="p-3 px-5 text-center"><%= standing["regulation_wins"] %></td>
                        <td class="p-3 px-5 text-center"><%= standing["regulation_overtime_wins"] %></td>
                        <td class="p-3 px-5 text-center"><%= standing["home_record"] %></td>
                        <td class="p-3 px-5 text-center"><%= standing["visitor_record"] %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
